body {
  background-color: #a38f85;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #cdc6c3;
  border: unset;
  margin: 5px 0px;
}
input:focus {
  outline: unset;
}
.productsManagement {
  width: 80vw;
  margin: auto;

  .crud {
    text-align: center;
  }
  .products-tabelle {
    .product-angabe {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      .total {
        width: 40%;
        background-color: rgba(255, 0, 0, 0.589);
        padding: 9px;
        border-radius: 00.5rem;
        color: white;
      }
    }
  }
}
button {
  margin-top: 2rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(75, 78, 23, 0.534);
  border: unset;
  color: #d4b2a7;
  transition: 1s;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1, 1);
}
table {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}
thead,
tbody {
  width: 100%;
}
tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  td {
    align-items: center;
    width: 100%;
  }
  th {
    width: 100%;
    align-items: center;
  }
}
