.task{
	width: 100%;
	background-color:#EDE9E3 ;
	border: none;
	border-radius: 12px;

}
.form{
	padding: 20px;
}
.todo-info{
	display: flex;
	justify-content: space-around;
	border: 1px solid gray;
	font-size: 14px;
	padding: 20px;

}
.todo-info span{
 color: red;
}

.delet-Icon{
	cursor: pointer;
	color: red;
}