
 @import url('https://fonts.googleapis.com/css2?family=Inter&family=Kdam+Thmor+Pro&family=Lato&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans&display=swap');



 // ToDo.jsx
  .todo-home {
   //  background-image: url(https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp);
   background-color: grey;
   background-attachment: fixed;
   border-radius: 15px;
 }

 .todo-img{
  border-radius: 20px;
  float: right;
 }
 
 .text-text{
   font-size: 20px;
   font-weight: bold;
 }
 
 
 // TodoForm.jsx
 .task {
   width: 100%;
   background-color: rgba(78, 79, 80, 0.664);
   border: none;
   border-radius: 12px;
 }
 .form {
   padding: 20px;
 }
 
 .input-title {
   width: 100%;
   padding: 1rem;
   border-radius: 0.5rem;
   color: rgb(106, 81, 81);
   background-color: rgba(255, 255, 255, 0.4);
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   background: rgba(255, 255, 255, 0.406);
 
   border: unset;
   margin: 5px 0px;
 }
 
 // Task.jsx
 .zeig-task {
   padding: 20px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
   
   border-radius: 10px;
   
   
 }
 .title-delet{
   display: flex;
   
   justify-content: space-between;
 }
 
 .todo-info {
   margin-bottom: 10px;
   display: flex;
   flex-direction: column;
   // justify-content: space-between;
   text-align: left;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   background: rgba(255, 255, 255, 0.406);
   transition: 0.5s;
   font-size: 14px;
   border-radius: 20px;
   padding: 5px;
 
   span {
     color: rgb(103, 60, 60);
     padding-right: 20px;
     font-family: 'Kdam Thmor Pro', sans-serif;
     font-size: medium;
     
   }
 }
 
 .todo-info:hover{
  cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0px 5px 10px 0px;
  background: rgba(255, 255, 255, 0.406);
  
   
   & .project-name p {
     transform: scale(1);
   }
   & .icon-wrapper i {
     transform: scale(1);
   }
 }
 
 .delet-Icon {
   margin-right: 0.5em;
   cursor: pointer;
   color:#309b30;
   font-size: 35px;
 
 
 }
 .edi-Icon{
   cursor: pointer;
   color:#79a679;
   font-size: 35px;
 
 }
 .del-Edi{
   margin-right: 0.5em
 }
 
 
 .bt-prog{
   color: rgb(255, 255, 255);
   width: 100px;
   padding: 10px;
   border-radius: 10px;
   text-align: center;
   font-size: 15px;
 }
 .add-btt{
    width: 20%;
   padding: 20px;
   border-radius: 20px;
   color: rgb(80, 23, 23);
   text-align: center;
   font-size: 19px;
   font-weight: bold;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   background: rgba(255, 255, 255, 0.406);
   background-color: rgba(73, 168, 246, 0.596);
   
 
 }
 .add-btt:hover {
   background-color: rgba(172, 255, 47, 0.5);
   color: white;
 }
 
 .todo-h1 {
   margin-top: 1%;
   font-size: 50px;
   width: 50%;
   border-radius: 20px;
   color: rgb(117, 245, 100);
   text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     #231557 0%,
     #44107a 29%,
     #ff1361 67%,
     #fff800 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
       
 
 }
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 }
 
 .icon-button{
   display: flex;
   justify-content: space-between;
 }
 
 @media only screen and (max-width: 365px) {
   .zeig-task {
     grid-template-columns: 1fr; 
 
   }
   .bt-prog{
     
     font-size: 10px;
     max-width: 80px;
     
     
     
   }
 }
 
 // .rout{
 //   max-width: 95vw;
 //   max-height: 100vh;
 // }