.uberschrift {
  font-family: "Bebas Neue", cursive;
  padding-bottom: 30px;
  text-align: center;
  padding: 50px;
  color: #000;
}

.notiz {
  padding: 80px;

  .notiz-countainer {
    .plus {
      font-size: 200px;
      color: #000;
      transition: 0.8s;
      cursor: pointer;
    }
    .plus:hover {
      color: #6b7dff;
    }
    .notiz-plus {
      display: flex;
      align-content: center;
      justify-content: end;
      font-size: 100px;
      padding: 10px;
    }
    .notiz-form {
      display: flex;

      flex-direction: column;
      align-items: center;
      padding: 10px;
      border-radius: 10px;

      .notiz_input {
        width: 300px;
        height: 60px;
        border-radius: 10px;
        text-align: center;
      }
      .notiz_textarea {
        width: 300px;
        height: 200px;
        border: 2px solid #000;
        border-radius: 10px;
        text-align: center;
      }
      .notiz_button {
        width: 300px;
        background-color: #6b7dff;
        color: #fff;
        transition: 0.5s;
      }
      .notiz_button:hover {
        background-color: blue;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
          rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      }
    }
  }
}

.notiz_item {
  height: 100vh;
  color: #000;
  -webkit-box-shadow: -2px 15px 71px 18px #000;
  -moz-box-shadow: -2px 15px 71px 18px #000;
  box-shadow: -2px 15px 71px 18px #000;
  border-radius: 10px;
}
.notizitem {
  font-family: Georgia, serif;
  border-bottom: 0.5px solid #000;
  width: 70%;
  margin-bottom: 10px;
  margin-left: 250px;

  .p_element {
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
  }
  .icon {
    display: flex;
    justify-content: space-between;
    .dellete {
      width: 50px;
      cursor: pointer;
      font-size: 15px;
      margin-bottom: 5px;
      color: #000;
    }
    .dellete:hover {
      color: red;
    }
    .edit {
      cursor: pointer;
      font-size: 18px;
      margin-bottom: 5px;
      color: #000;
    }

    .edit:hover {
      color: green;
    }
  }
}

.edit_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .update-input {
    text-align: center;
    width: 70%;
    height: 50px;
  }

  .update-text {
    width: 70%;
    height: 100px;
  }
  .update {
    color: #fff;
    background-color: #6b7dff;
    width: 70%;
  }
  .update:hover {
    color: green;
  }
}
